<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<connectionStrings>

		<add name="ConString" connectionString="Data Source=C:\repos\periode-1-gebruikersinteractie-groep15\Prototype_Game Interaction\bin\Debug\net7.0-windows\GameScores.dbVersion=3;
			 User Id=YourUserName; Password=YourPassword; Initial Catalog=Pubs;"/>


          

	</connectionStrings>

</configuration>